{% extends 'event_templates/base.html' %}
{% load static %}

{% block header_title %}
Events
{% endblock %}

{% block header_link %}
<link rel="stylesheet" href="{% static 'styles/event.css' %}">
{% endblock %}


{% block body_block %}



{% for cat,count in categories.items %}
<div class="event_container">
    <h1>{{ cat }}</h1>
        {% for i in count %}
        <div class="cont">
            <h2>Event Name</h2>
            <div class="image_cont">
                
                <img src="{% static 'images/icon.png' %}">
                <div class="info">
                    <h3>1302 Participating</h3>
                    <h5>Created by name..</h5>
                </div>
            </div>
            <ul>
                <li>Participating</li>
                <li>Not this time</li>
            </ul>
        </div>
        {% endfor %}
</div>
{% endfor %}


{% endblock %}