{% extends 'event_templates/base.html' %}
{% load static %}

{% block header_title %}
Events
{% endblock %}


{% block body_block %}



{% for cat,count in categories.items %}
<div class="event_container">
    <h1>{{ cat }}</h1>
        {% for i in count %}
        <div>
            <h2>Event Name</h2>
            <h3>1302 Participating</h3>
            <img src="{% static 'images/icon.png' %}">
            <ul>
                <li>Participating</li>
                <li>Not this time</li>
            </ul>
        </div>
        {% endfor %}
</div>
{% endfor %}


{% endblock %}