{% extends 'event_templates/base.html' %}
{% load static %}

{% block header_title %}
Home
{% endblock %}

{% block header_link %}
<link rel="stylesheet" href="{% static 'styles/event.css' %}">
{% endblock %}

{% block body_block %}

<div class="event_container">
    <h1>Most Popular Events</h1>
    {% for event in pop_events %}
    <div class="cont">
            <h2>{{event.0}}</h2>
        <div class="image_cont">
       
            <img src="{{ MEDIA_URL }}{{event.3}}">
            <div class="info">
                <h3>{{event.2}} Participating</h3>
                <h5>Created by {{event.4}}</h5>
            </div>
        </div>
        
        <ul>
            <li>Participating</li>
            <li>Not this time</li>
        </ul>
    </div>
    {% endfor %}


</div>



{% endblock %}